DB_USER=postgres
DB_HOST=localhost
DB_DATABASE=pahawang_sync
DB_PASSWORD=masukkan_password_database_disini
DB_PORT=5432

MIDTRANS_SERVER_KEY=masukkan_server_key_disini
MIDTRANS_CLIENT_KEY=masukkan_client_key_disini